@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    @apply font-sans;
    overflow-x: hidden !important;
}

/* Custom Scrollbar Starts*/
::-webkit-scrollbar {
    width: 6px;
    /* Adjust width of the scrollbar */
}

::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: transparent;
    /* Transparent track */
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Dark thumb */
    border-radius: 10px;
    /* Rounded thumb */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Thumb hover effect */
}
/* Custom Scrollbar Ends*/


/*  Home Slider Starts*/
.slider-scrollbar::-webkit-scrollbar {
    display: none;
}
/*  Home Slider Eds*/


.about-us ul,
.we-provide ul {
    list-style: inside;
}
.about-us ol,
.we-provide ol {
    list-style: inside;
    list-style-type: number;
}

li {
    list-style-type: none;
    display: block;
    padding-left: 15px;
}

li::before{
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    top: 9px;
    left: 0;
    background-color: black;
}

.input-container{
	position:relative;
}
.input-container .input-label{
	position:absolute;
	top:6px;
	left:0px;
	font-size:14px;	
    font-weight: 500;
    color: #8D8D8D;
    pointer-events:none;
	transition: all 0.3s ease-in-out;
}
.input-container .form-input{ 
    border:0;
    border-bottom:1px solid #8D8D8D;  
    background:transparent;
    width:100%;
    padding:8px 0 3px 0;
    font-size:16px;
}
.input-container .form-input:focus{ 
    border:none;	
    outline:none;
    border-bottom:1px solid #111;	
}

.input-container .form-input:focus ~ .input-label,
.input-container .form-input:not(:placeholder-shown) ~ .input-label {
    top: -12px;
    font-size: 12px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}